[submodule "engine/external/raylib"]
  shallow = true
  path = engine/external/raylib
  url = https://github.com/inkimera/raylib.git
  branch = f9c9cc718fa3ecdf5640f5bf5e20edde1f1b8f8e
[submodule "engine/external/flecs"]
  shallow = true
  path = engine/external/flecs
  url = https://github.com/SanderMertens/flecs.git
  branch = e9c5ddb31f057e48201df1ef79e1909cc79b9609
[submodule "engine/external/lua"]
  shallow = true
  path = engine/external/lua_cmake/lua
  url = https://github.com/lua/lua
  branch = 5d708c3f9cae12820e415d4f89c9eacbe2ab964b
[submodule "engine/external/nuklear"]
	path = engine/external/nuklear
  url = https://github.com/Immediate-Mode-UI/Nuklear.git
  branch = 1d9fb0bc79f8d4377a4dbc732c811b2d696c4c96
