[submodule "engine/external/raylib"]
  shallow = true
  path = engine/external/raylib
  url = https://github.com/inkimera/raylib.git
  branch = 0538f17fa8ce15035fca99ad0ffd2001c87c4e9d
[submodule "engine/external/flecs"]
  shallow = true
  path = engine/external/flecs
  url = https://github.com/SanderMertens/flecs.git
  branch = e9c5ddb31f057e48201df1ef79e1909cc79b9609
[submodule "engine/external/lua"]
  shallow = true
  path = engine/external/lua_cmake/lua
  url = https://github.com/lua/lua
  branch = 5d708c3f9cae12820e415d4f89c9eacbe2ab964b
[submodule "engine/external/nuklear"]
  path = engine/external/nuklear
  url = https://github.com/inkimera/Nuklear.git
  branch = 1d9fb0bc79f8d4377a4dbc732c811b2d696c4c96
[submodule "engine/external/toml"]
  path = engine/external/toml
  url = https://github.com/cktan/tomlc99.git
  branch = 894902820a3ea2f1ec470cd7fe338bde54045cf5
